*Box.background:	#222222
*Box.foreground:	#eff0f1
*Button.activeBackground:	#222222
*Button.activeForeground:	#eff0f1
*Button.background:	#222222
*Button.foreground:	#eff0f1
*Button.highlightBackground:	#222222
*Button.highlightColor:	#eff0f1
*Canvas.activeBackground:	#222222
*Canvas.activeForeground:	#eff0f1
*Canvas.background:	#222222
*Canvas.foreground:	#eff0f1
*Canvas.highlightBackground:	#222222
*Canvas.highlightColor:	#eff0f1
*Canvas.selectbackground:	#363636
*Canvas.selectforeground:	#eff0f1
*Checkbutton.activeBackground:	#222222
*Checkbutton.activeForeground:	#eff0f1
*Checkbutton.background:	#222222
*Checkbutton.foreground:	#eff0f1
*Checkbutton.highlightBackground:	#222222
*Checkbutton.highlightColor:	#eff0f1
*Command.background:	#222222
*Command.foreground:	#eff0f1
*Dialog.background:	#222222
*Dialog.foreground:	#eff0f1
*Entry.activeBackground:	#222222
*Entry.activeForeground:	#eff0f1
*Entry.background:	#222222
*Entry.foreground:	#eff0f1
*Entry.highlightBackground:	#222222
*Entry.highlightColor:	#eff0f1
*Entry.selectBackground:	#363636
*Entry.selectForeground:	#eff0f1
*Form.background:	#222222
*Form.foreground:	#eff0f1
*Frame.activeBackground:	#222222
*Frame.activeForeground:	#eff0f1
*Frame.background:	#222222
*Frame.foreground:	#eff0f1
*Frame.highlightBackground:	#222222
*Frame.highlightColor:	#eff0f1
*Label.activeBackground:	#222222
*Label.activeForeground:	#eff0f1
*Label.background:	#222222
*Label.foreground:	#eff0f1
*Label.highlightBackground:	#222222
*Label.highlightColor:	#eff0f1
*List.background:	#222222
*List.foreground:	#eff0f1
*Listbox.activeBackground:	#222222
*Listbox.activeForeground:	#eff0f1
*Listbox.background:	#222222
*Listbox.foreground:	#eff0f1
*Listbox.highlightBackground:	#222222
*Listbox.highlightColor:	#eff0f1
*Listbox.selectBackground:	#363636
*Listbox.selectForeground:	#eff0f1
*Menu.activeBackground:	#222222
*Menu.activeForeground:	#eff0f1
*Menu.background:	#222222
*Menu.foreground:	#eff0f1
*Menu.highlightBackground:	#222222
*Menu.highlightColor:	#eff0f1
*MenuButton.background:	#222222
*MenuButton.foreground:	#eff0f1
*Menubutton.activeBackground:	#222222
*Menubutton.activeForeground:	#eff0f1
*Menubutton.background:	#222222
*Menubutton.foreground:	#eff0f1
*Menubutton.highlightBackground:	#222222
*Menubutton.highlightColor:	#eff0f1
*Radiobutton.activeBackground:	#222222
*Radiobutton.activeForeground:	#eff0f1
*Radiobutton.background:	#222222
*Radiobutton.foreground:	#eff0f1
*Radiobutton.highlightBackground:	#222222
*Radiobutton.highlightColor:	#eff0f1
*Scale.activeBackground:	#222222
*Scale.activeForeground:	#eff0f1
*Scale.background:	#222222
*Scale.foreground:	#eff0f1
*Scale.highlightBackground:	#222222
*Scale.highlightColor:	#eff0f1
*Scale.troughColor:	#222222
*Scrollbar*Cursor:	left_ptr
*Scrollbar*background:	#222222
*Scrollbar*cursorName:	left_ptr
*Scrollbar*height:	15
*Scrollbar*pushThumb:	false
*Scrollbar*shadowWidth:	2
*Scrollbar*width:	15
*Scrollbar.activeBackground:	#222222
*Scrollbar.activeForeground:	#eff0f1
*Scrollbar.foreground:	#eff0f1
*Scrollbar.highlightBackground:	#222222
*Scrollbar.highlightColor:	#eff0f1
*Scrollbar.troughColor:	#222222
*ScrollbarBackground:	#222222
*ShapeStyle:	Rectangle
*SimpleMenu*background:	#222222
*SimpleMenu*foreground:	#eff0f1
*SmeBSB*shadowWidth:	3
*Text.activeBackground:	#222222
*Text.activeForeground:	#eff0f1
*Text.background:	#222222
*Text.foreground:	#eff0f1
*Text.highlightBackground:	#222222
*Text.highlightColor:	#eff0f1
*Text.selectBackground:	#363636
*Text.selectForeground:	#eff0f1
*Toggle.background:	#222222
*Toggle.foreground:	#eff0f1
*Toplevel.activeBackground:	#222222
*Toplevel.activeForeground:	#eff0f1
*Toplevel.background:	#222222
*Toplevel.foreground:	#eff0f1
*Toplevel.highlightBackground:	#222222
*Toplevel.highlightColor:	#eff0f1
*XmCascadeButton.background:	#222222
*XmCascadeButton.foreground:	#eff0f1
*XmCascadeButtonGadget.background:	#222222
*XmCascadeButtonGadget.foreground:	#eff0f1
*XmDialogShell.background:	#222222
*XmDialogShell.foreground:	#eff0f1
*XmFileSelectionBox.background:	#222222
*XmFileSelectionBox.foreground:	#eff0f1
*XmForm.background:	#222222
*XmForm.foreground:	#eff0f1
*XmFrame.background:	#222222
*XmFrame.foreground:	#eff0f1
*XmLabel.background:	#222222
*XmLabel.foreground:	#eff0f1
*XmLabelGadget.background:	#222222
*XmLabelGadget.foreground:	#eff0f1
*XmList.background:	#222222
*XmList.foreground:	#eff0f1
*XmMenuShell.background:	#222222
*XmMenuShell.foreground:	#eff0f1
*XmMessageBox.background:	#222222
*XmMessageBox.foreground:	#eff0f1
*XmPanedWindow.background:	#222222
*XmPanedWindow.foreground:	#eff0f1
*XmPushButton.background:	#222222
*XmPushButton.foreground:	#eff0f1
*XmPushButtonGadget.background:	#222222
*XmPushButtonGadget.foreground:	#eff0f1
*XmRowColumn.background:	#222222
*XmRowColumn.foreground:	#eff0f1
*XmSash.background:	#222222
*XmSash.foreground:	#eff0f1
*XmScrollBar.background:	#222222
*XmScrollBar.foreground:	#eff0f1
*XmScrolledWindow.background:	#222222
*XmScrolledWindow.foreground:	#eff0f1
*XmSelectionBox.background:	#222222
*XmSelectionBox.foreground:	#eff0f1
*XmSeparator.background:	#222222
*XmSeparator.foreground:	#eff0f1
*XmSeparatorGadget.background:	#222222
*XmSeparatorGadget.foreground:	#eff0f1
*XmTearOffButton.background:	#222222
*XmTearOffButton.foreground:	#eff0f1
*XmTearOffButtonGadget.background:	#222222
*XmTearOffButtonGadget.foreground:	#eff0f1
*XmText.background:	#222222
*XmText.foreground:	#eff0f1
*XmTextField.background:	#222222
*XmTextField.foreground:	#eff0f1
*XmToggleButton.background:	#222222
*XmToggleButton.foreground:	#eff0f1
*XmToggleButtonGadget.background:	#222222
*XmToggleButtonGadget.foreground:	#eff0f1
*background:	#222222
*beNiceToColormap:	false
*borderColor:	black
*foreground:	#eff0f1
*rvplayer*Command.BorderColor:	#eff0f1
*rvplayer*Command.background:	#222222
*rvplayer*Command.foreground:	#eff0f1
*rvplayer*Label.BorderColor:	#eff0f1
*rvplayer*MenuButton.BorderColor:	#eff0f1
*rvplayer*MenuButton.background:	#222222
*rvplayer*SepLine.BorderColor:	#222222
*rvplayer*SepLine.bottomShadowPixel:	#636363
*rvplayer*SepLine.topShadowPixel:	#0f0f0f
*rvplayer*SimpleMenu.BorderColor:	#0f0f0f
*rvplayer*SimpleMenu.background:	#222222
*rvplayer*SimpleMenu.foreground:	#eff0f1
*rvplayer*SmeBSB*fgInsensitive:	#636363
*rvplayer*Vslider.thumbPixel:	#636363
*rvplayer*authortext.background:	#222222
*rvplayer*authortext.bottomShadowPixel:	#636363
*rvplayer*authortext.topShadowPixel:	#0f0f0f
*rvplayer*background:	#222222
*rvplayer*copyrighttext.background:	#222222
*rvplayer*copyrighttext.bottomShadowPixel:	#636363
*rvplayer*copyrighttext.topShadowPixel:	#0f0f0f
*rvplayer*proptext.background:	#222222
*rvplayer*proptext.foreground:	#eff0f1
*rvplayer*statusback.background:	#222222
*rvplayer*statusback.foreground:	#eff0f1
*rvplayer*statustext.background:	#222222
*rvplayer*statustext.foreground:	#eff0f1
*rvplayer*timeinfotext.background:	#222222
*rvplayer*timeinfotext.bottomShadowPixel:	#636363
*rvplayer*timeinfotext.foreground:	#eff0f1
*rvplayer*timeinfotext.topShadowPixel:	#0f0f0f
*rvplayer*timeslider.bottomShadowPixel:	#636363
*rvplayer*timeslider.foreground:	#222222
*rvplayer*timeslider.thumbPixel:	#636363
*rvplayer*timeslider.topShadowPixel:	#0f0f0f
*rvplayer*titletext.background:	#222222
*rvplayer*titletext.bottomShadowPixel:	#636363
*rvplayer*titletext.topShadowPixel:	#0f0f0f
*rvplayer*volumeslider.bottomShadowPixel:	#636363
*rvplayer*volumeslider.topShadowPixel:	#0f0f0f
AcroRead.XmScreen.background:	#222222
AcroRead.XmScreen.borderColor:	#eff0f1
AcroRead.borderColor:	#eff0f1
Acroread.background:	#222222
Acroread.foreground:	#eff0f1
Config*Text*background:	#222222
Config*channel.background:	#222222
Config*key.background:	#222222
Config*list.background:	#222222
Emacs*Background:	#222222
Emacs*Dialog*background:	#222222
Emacs*Dialog*foreground:	#eff0f1
Emacs*Foreground:	#eff0f1
Emacs*XlwScrollBar.Background:	#222222
Emacs*XlwScrollBar.Foreground:	#eff0f1
Emacs*backgroundToolBarColor:	#222222
Emacs*bottomToolBarShadowColor:	#222222
Emacs*menubar*background:	#222222
Emacs*menubar*foreground:	#eff0f1
Emacs*popup*Background:	#222222
Emacs*popup*Foreground:	#eff0f1
Emacs*toolBarShadowThickness:	0
Emacs*topToolBarShadowColor:	#222222
Emacs.default.attributeBackground:	#222222
Emacs.default.attributeForeground:	#eff0f1
Netscape*XmLGrid.background:	#222222
Netscape*XmLGrid.foreground:	#eff0f1
Netscape*XmList*background:	#222222
Netscape*XmList*foreground:	#eff0f1
Netscape*XmText*background:	#222222
Netscape*XmText*foreground:	#eff0f1
Netscape*XmTextField*background:	#222222
Netscape*XmTextField*foreground:	#eff0f1
Netscape*background:	#222222
Netscape*bottomShadowColor:	#0f0f0f
Netscape*defaultBackground:	#222222
Netscape*foreground:	#eff0f1
Netscape*highlightColor:	#222222
Netscape*power.LED.background:	#222222
Netscape*power.LED.foreground:	#363636
Netscape*selectBackground:	#363636
Netscape*selectColor:	#222222
Netscape*selectForeground:	#eff0f1
Netscape*thermo.slider.background:	#222222
Netscape*thermo.slider.foreground:	#363636
Netscape*topShadowColor:	#636363
Netscape*urlLabel*background:	#222222
Netscape*urlLabel*foreground:	#eff0f1
Netscape*urlText*background:	#222222
Netscape*urlText*foreground:	#eff0f1
Streamer*Text*background:	#222222
TopLevelShell*background:	#222222
TopLevelShell*foreground:	#eff0f1
WPFMShell*MenuBar*background:	#222222
WPFMShell*MenuBar*foreground:	#eff0f1
WPFMShell*XmDialogShell*XmDrawingArea*background:	#222222
WPFMShell*XmDialogShell*XmDrawingArea*foreground:	#eff0f1
WPFMShell*XmDialogShell*XmList*background:	#222222
WPFMShell*XmDialogShell*XmList*foreground:	#eff0f1
WPFMShell*XmDialogShell*XmScrolledWindow*XmDrawingArea.background:	#222222
WPFMShell*XmDialogShell*XmScrolledWindow*XmDrawingArea.foreground:	#eff0f1
WPFMShell*XmDialogShell*XmText*background:	#222222
WPFMShell*XmDialogShell*XmText*foreground:	#eff0f1
WPFMShell*XmDialogShell*XmTextField*background:	#222222
WPFMShell*XmDialogShell*XmTextField*foreground:	#eff0f1
WPFMShell*XmDialogShell*background:	#222222
WPFMShell*XmDialogShell*foreground:	#eff0f1
WPFMShell*XmDrawingArea*background:	#222222
WPFMShell*XmDrawingArea*foreground:	#eff0f1
WPFMShell*XmList*background:	#222222
WPFMShell*XmList*foreground:	#eff0f1
WPFMShell*XmScrolledWindow*XmDrawingArea.background:	#222222
WPFMShell*XmScrolledWindow*XmDrawingArea.foreground:	#eff0f1
WPFMShell*XmText*background:	#222222
WPFMShell*XmText*foreground:	#eff0f1
WPFMShell*XmTextField*background:	#222222
WPFMShell*XmTextField*foreground:	#eff0f1
WPFMShell*background:	#222222
WPFMShell*foreground:	#eff0f1
WPFMShell*menubar*background:	#222222
WPFMShell*menubar*foreground:	#eff0f1
XWp*MenuBar*background:	#222222
XWp*MenuBar*foreground:	#eff0f1
XWp*XmDialogShell*XmDrawingArea.background:	#222222
XWp*XmDialogShell*XmDrawingArea.foreground:	#eff0f1
XWp*XmDialogShell*XmList*background:	#222222
XWp*XmDialogShell*XmList*foreground:	#eff0f1
XWp*XmDialogShell*XmScrolledWindow*XmDrawingArea.background:	#222222
XWp*XmDialogShell*XmScrolledWindow*XmDrawingArea.foreground:	#eff0f1
XWp*XmDialogShell*XmText*background:	#222222
XWp*XmDialogShell*XmText*foreground:	#eff0f1
XWp*XmDialogShell*XmTextField*background:	#222222
XWp*XmDialogShell*XmTextField*foreground:	#eff0f1
XWp*XmDialogShell*background:	#222222
XWp*XmDialogShell*foreground:	#eff0f1
XWp*XmDrawingArea.background:	#222222
XWp*XmDrawingArea.foreground:	#eff0f1
XWp*XmList*background:	#222222
XWp*XmList*foreground:	#eff0f1
XWp*XmScrolledWindow*XmDrawingArea.background:	#222222
XWp*XmScrolledWindow*XmDrawingArea.foreground:	#eff0f1
XWp*XmText*background:	#222222
XWp*XmText*foreground:	#eff0f1
XWp*XmTextField*background:	#FFFFFFFFFFFF
XWp*XmTextField*foreground:	#eff0f1
XWp*background:	#222222
XWp*foreground:	#eff0f1
XWp*menubar*background:	#222222
XWp*menubar*foreground:	#eff0f1
XWp*popmenu*background:	#222222
XWp*popmenu*foreground:	#eff0f1
XWp.form.controlbar.menubar.CBHlpButton*background:	#222222
XWp.form.hscrollbar.background:	#222222
XWp.form.rulerframe.ruler*background:	#222222
XWp.form.scrollbar0.background:	#222222
XWp.mainWindowForm.mainWindowMenubar*background:	#222222
XWp.mainWindowForm.mainWindowMenubar*foreground:	#eff0f1
Xawtv*Dialog.value.background:	#222222
Xawtv*background:	#222222
Xawtv*foreground:	#eff0f1
Xcursor.size:	0
Xcursor.theme:	breeze_cursors
Xft.antialias:	1
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
dzen2.background:	#222222
dzen2.foreground:	#EFF0F1
editres*Panner.Background:	#222222
editres*Tree.Background:	#222222
editres*Tree.Foreground:	#eff0f1
editres*Tree.Toggle.Background:	#222222
editres*Tree.Toggle.Foreground:	#eff0f1
ml*XmCascadeButton.marginHeight:	2
ml*XmCascadeButton.marginWidth:	8
ml*XmForm*bottomOffset:	0
ml*XmForm*topOffset:	0
ml*XmForm*verticalSpacing:	0
ml*XmList*background:	#222222
ml*XmList*foreground:	#eff0f1
ml*XmList*highlightThickness:	0
ml*XmPushButton.marginHeight:	1
ml*XmRowColumn*marginHeight:	1
ml*XmRowColumn*spacing:	0
ml*XmRowColumn.entryBorder:	0
ml*XmText*background:	#222222
ml*XmText*foreground:	#eff0f1
ml*XmTextField*background:	#222222
ml*XmTextField*foreground:	#eff0f1
ml*XmToggleButton.marginHeight:	1
ml*background:	#222222
ml*borderWidth:	0
ml*focusPolicy:	pointer
ml*foreground:	#eff0f1
ml*helpwin*textSW.text.background:	#222222
ml*helpwin*textSW.text.foreground:	#eff0f1
ml*highlightColor:	#222222
ml*log*textSW.text.background:	#222222
ml*log*textSW.text.foreground:	#eff0f1
ml*marginHeight:	2
ml*marginWidth:	3
ml*selectColor:	#222222
ml*textSW.text.background:	#222222
ml*textSW.text.foreground:	#eff0f1
ml.form.height:	550
ml.form.width:	650
nedit*background:	#222222
nedit*foreground:	#eff0f1
xcalc*background:	#222222
xcalc*bevel.screen.LCD.background:	#222222
xcalc*bevel.screen.LCD.foreground:	#eff0f1
xcalc*foreground:	#eff0f1
xdvi.background:	white
xosview*background:	#222222
xosview*foreground:	#eff0f1
xosview*meterLabelColor:	#eff0f1
xosview*usedLabelColor:	#eff0f1
xpdf.background:	#222222
xpdf.foreground:	#eff0f1
xpdf.urlCommand:	kfmclient exec %s
xterm*background:	#222222
xterm*foreground:	#eff0f1
xterm.SimpleMenu*background:	#222222
xterm.SimpleMenu*foreground:	#eff0f1
